.login-btn{
    background-color: #27C2F5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 250px;
    font-size: large;
    font-weight: bold;
    outline: none;
}

.btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}